.container {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  gap: 1rem;
  justify-content: space-evenly;
  background-color: gray;
  font-weight: 700;
}

.name {
  width: 25%;
  /* text-align: center; */
  /* background-color: thistle; */
}

.email {
  width: 20%;
}

.parentClinic {
  width: 25%;
}

.created {
  width: 10%;
}

.active {
  width: 3%;
}
