.container {
  text-align: center;
}

.heading {
  font-weight: 300;
  font-size: 4rem;
  font-family: 'Cormorant SC', serif;
  padding: 5px;
}

.clinics_info {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  grid-auto-flow: row;
  padding: 2rem;
}
