.container {
  border: 3px solid black;
  position: absolute;
  padding: 2rem;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  width: 42%;
}

.title {
  font-weight: 100;
  font-size: 2.2rem;
  padding: 7px;
}

.input_field {
  padding: 0.7rem;
}

.input_field label {
  padding: 4px;
  display: block;
}

.input_field input,
.input_field select {
  border: 2px solid gray;
  border-radius: 4px;
  outline: 0;
  box-shadow: none;
  padding: 0.5rem;
  line-height: 20px;
  width: 250px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.9);
}

.input_field select {
  font-size: 0.9rem;
}

.organization_role {
  display: flex;
  gap: 1rem;
}

.org select {
  width: 350px;
}

.role select {
  width: 160px;
}

.input_field input:focus {
  border: 2px solid #00dd22;
}

.input_field select:focus {
  border: 2px solid #00dd22;
}

.actions {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: grey;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.name__email {
  display: flex;
  gap: 3px;
}

.error {
  color: red;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 82vw;
  }
}
